header {
  border-radius: 14px;
  color: #fff;
  margin: 0 1.5% 1em 1.5%;
  padding: 1em 0em;
  text-align: center;
  background: no-repeat left/cover url(bg.jpg);
  display: flex;
  height: 120px;
  min-width: 120px;
  align-items: center;
  color: #fff;
  text-shadow: #000 0 0 .2em;
}

header>h1 {
  font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive, fantasy;
  margin: 2%;
}

nav {
  background: #51c5cd;
  border-radius: 7px;
  color: rgb(245, 239, 197);
  margin: 0 1.5% 1em 1.5%;
  padding: 1em 0em;
  text-align: center;
}

main {
  background: #358c68;
  border-radius: 7px;
  color: rgb(175, 179, 190);
  margin: 0 1.5% 1em 1.5%;
  padding: 1em 0em;
  text-align: center;
  float: right;
  width: 70%;
  min-height: 7em;
}

footer {
  background: #d0cf7c;
  border-radius: 7px;
  color: #fff;
  margin: 0 1.5% 1em 1.5%;
  padding: 1em 0em;
  text-align: center;
  clear: both;
  margin-bottom: 0;
}

aside {
  float: left;
  width: 23%;
  min-height: 7em;
}

footer {
}

ol {
  display: flex;
  list-style: none;
  padding: 0;
}

nav a::after {
  content: '>';
  display: inline-block;
  padding: 0 4px;
}