body {
    font: 100% Lucida Sans, Verdana;
    margin: 20px;
    line-height: 26px;
}

header, nav, aside, footer, .navitem {
    border-radius: 4px;
    margin: 4px;
}

header {
    background: no-repeat left/cover url(/bg.jpg);
    background-color: #dce4e1;
    color: #ffffff;
    padding: 15px;
    text-shadow: #000 0 0 .2em;
    font: bold fantasy;
    height: 60px;
    min-width: 120px;
}

nav {
    width: 200px;
    float: left
}

.navitem {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
}

.navitem:hover {
    background-color: #ffffff;
}

.navitem:first-child {
   background-color:#c0c23e;
   color: white;
   font-weight:bold;
}

main {
    padding: 10px;
    margin: 0 210px;
}

aside {
    background-color: #a0dcff;
    color: #ffffff;
    padding: 10px;
    width: 180px;
    bottom: 0;
    top: 0;
    right: 0;
    float: right;
}

footer {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}


header h1, header p, #navlist {
    margin: 0;
    padding: 0;
}
